.fullscreen-http {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.fixed-header {
    position: fixed; 
    right: 0;
    left: 0; 
    top: 0; 
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    width: 100vw; 
    height: auto; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    background-color: var(--c-red); 
}
.fixed-header-close {
    position: absolute;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    right: 0;
    transform: translateY(-33.3333%);
    cursor: pointer;
}
.fixed-header-close:hover {
    opacity: .8;
}