/*
    * Prefixed by https://autoprefixer.github.io
    * PostCSS: v8.4.14,
    * Autoprefixer: v10.4.7
    * Browsers: last 4 version
    */

:root {
    --wiki-side-width: 14rem;
    --c-reference-blue: #3a406e;
}

.wiki-channel,
.wiki-user {
    background-color: var(--c-reference-blue);
    padding: 0 3px;
    border-radius: 3px;
    display: inline-block;
}

.wiki-channel::before {
    content: "# ";
}

.wiki-user::before {
    content: "@";
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--c-lighter);
    margin: 2.5px 0;
    padding: 0;
}

#wiki-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 5px;
    width: calc(100vw - 3rem);
    margin-top: 2rem;
    color: white;
}

#wiki-toc-container {
    position: sticky;
    min-width: var(--wiki-side-width);
    margin-top: 5rem;
    padding-top: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    top: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

#wiki-toc-container a:hover,
#wiki-toc-container summary:hover {
    color: var(--c-lighter);
}

#wiki-toc-container summary:hover::before {
    color: white;
}

#wiki-toc-container>ol li {
    margin-left: 1rem;
    list-style-type: none;
}

#wiki-toc-container>ol * {
    margin-bottom: 2px;
    font-size: 1.1rem;
}

details>summary {
    cursor: pointer;
}

summary::marker {
    color: var(--c-lighter);
    font-size: 0.9rem;
}

#wiki-wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#wiki-page-info,
#wiki-page-info span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

#wiki-page-info {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2.5px 0;
    color: var(--c-lighter);
    font-size: 0.95rem;
}

#wiki-page-info-container>span {
    gap: 15px;
}

#wiki-page-info-container>span span {
    gap: 2px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#wiki-page-info-container {
    width: calc(100% - 1rem);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#wiki-page-title {
    font-family: "Passion One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.75rem;
}

#wiki-content-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
}

#wiki-content {
    word-break: break-word;
    min-height: 70svh;
    flex-grow: 1;
}

#wiki-content table {
    text-align: left;
}

#wiki-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--c-dark);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 10px;
    margin: 10px 0 10px 10px;
    border-radius: 4px;
}

#wiki-sidebar-server-icon {
    border-radius: 3px;
    width: 14rem;
    aspect-ratio: 1/1;
    background-color: var(--c-darker);
    margin-bottom: 10px;
}

.wiki-sidebar-portion {
    padding-bottom: 5px;
    width: 100%;
}

.wiki-sidebar-portion:last-of-type {
    padding-bottom: 0;
}

.wiki-sidebar-portion>h4 {
    text-align: center;
    font-weight: normal;
    width: 100%;
    background-color: var(--c-light);
}

.wiki-sidebar-portion table {
    text-align: left;
    font-size: 0.9rem;
    width: 100%;
}

.wiki-sidebar-portion table tr {
    vertical-align: top;
}

.wiki-sidebar-portion table th,
.wiki-sidebar-portion table td {
    padding-bottom: 2px;
}

.wiki-sidebar-portion table th {
    width: 50%;
}

#wiki-spacer {
    min-width: var(--wiki-side-width);
}

@media only screen and (max-width: 1200px) {
    #wiki-spacer {
        min-width: calc(var(--wiki-side-width) / 2);
    }
}

@media only screen and (max-width: 1100px) {
    #wiki-spacer {
        min-width: calc(var(--wiki-side-width) / 4);
    }
}

@media only screen and (max-width: 1000px) {
    #wiki-spacer {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    #wiki-toc-container {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    #wiki-content-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #wiki-sidebar {
        width: calc(100% - 2rem);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
    }

    #wiki-sidebar-server-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #wiki-page-info-container>span span:first-child {
        display: none;
    }

    #wiki-container {
        margin: 0;
        padding: 0;
        width: 99%;
    }

    #wiki-join {
        width: 100%;
    }
}

.tippy-box[data-animation="scale"][data-placement^="top"] {
    transform-origin: bottom;
}

.tippy-box[data-animation="scale"][data-placement^="bottom"] {
    transform-origin: top;
}

.tippy-box[data-animation="scale"][data-placement^="left"] {
    transform-origin: right;
}

.tippy-box[data-animation="scale"][data-placement^="right"] {
    transform-origin: left;
}

.tippy-box[data-animation="scale"][data-state="hidden"] {
    transform: scale(0.5);
    opacity: 0;
}

pre {
    background-color: var(--c-dark);
    border: 1px solid var(--c-darker);
    border-radius: 4px;
    padding: 5px;
    display: inline-block;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

wiki-image::after {
    content: attr("caption");
    color: red;
}

.nested-1 {
    margin-left: 1.5rem;
}

.nested-2 {
    margin-left: 2rem;
}

.nested-3 {
    margin-left: 2.5rem;
}

.nested-4 {
    margin-left: 3rem;
}

.nested-5 {
    margin-left: 2.5rem;
}

.nested-6 {
    margin-left: 4rem;
}