---
import Layout from "../layouts/Layout.astro";
import AuthUser from "./../components/AuthUser.astro";
---

<Layout title="Discord Auth Test">
    <AuthUser logoutPage="/logout" />
    <p>authtest</p>
</Layout>
