---

---

<footer>
  <div id="footer-container">
    <hr />
    <div id="footer-wrapper">
      <span>
        <img
          src="https://github.com/diswiki/resources/blob/main/logos/logo-1024.png?raw=true"
          alt="DisWiki Logo"
          width="100px"
        />
        <h2>DisWiki</h2>
      </span>
      <span>
        <div>
          <a href="#" target="_blank" rel="noopener noreferrer">Donate</a>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Discord Server</a
          >
          <a href="#" target="_blank" rel="noopener noreferrer"
            >GH Organization</a
          >
        </div>
        <div>
          <a href="#" target="_blank" rel="noopener noreferrer">License</a>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Privacy Policy</a
          >
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Terms of Service</a
          >
        </div>
        <div>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Report a Wiki Page</a
          >
          <a href="#" target="_blank" rel="noopener noreferrer"
            >PII Takedown Request</a
          >
          <a href="#" target="_blank" rel="noopener noreferrer">Contact Us</a>
        </div>
      </span>
    </div>
  </div>
</footer>

<style>
  /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

  footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0 1rem 0;
    color: var(--c-lighter);
  }

  #footer-container {
    width: calc(100% - 1rem);
  }

  #footer-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 1rem;
    width: calc(100% - 1rem);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #footer-wrapper > span:first-child {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    border-right: 1px solid var(--c-lighter);
    padding-right: 1.25rem;
    margin-right: 1.25rem;
  }

  #footer-wrapper > span:first-child > h2 {
    font-family: "Passion One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.75rem;
    color: white;
  }

  #footer-wrapper > span:last-child {
    width: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    gap: 10px;
  }

  #footer-wrapper > span:last-child > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  #footer-wrapper > span:last-child > div a {
    color: var(--c-lighter);
  }
  #footer-wrapper > span:last-child > div a:hover {
    -webkit-filter: brightness(125%);
    filter: brightness(125%);
  }

  @media only screen and (max-width: 740px) {
    #footer-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    #footer-wrapper > span:first-child {
      display: none;
    }
    #footer-wrapper > span:last-child > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      gap: 10px;
    }
  }
</style>
