---

---

<nav>
    <div id="nav-container">
        <div class="portion">
            <span>
                <i class="button b-square b-grey bx bx-menu bx-md"></i>
                <a href="#" id="donate-button" class="button b-green">Donate</a>
                <div class="searchbar">
                    <span>
                        <i id="js-search-chevron" class="bx bx-chevron-right"
                        ></i>
                        <select name="dropdown" id="js-search-dropdown">
                            <option value="server">Server</option>
                            <option value="user">User</option>
                        </select>
                        <input
                            type="text"
                            name="search"
                            id="js-search-input"
                            placeholder="Search for servers..."
                        />
                    </span>
                    <span>
                        <i class="button b-square b-blurple bx bxs-send"></i>
                    </span>
                </div>
            </span>
        </div>
        <div class="portion">
            <span>
                <a
                    href="/"
                    style="color:white;font-family: 'Passion One', sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 3.5rem;"
                >
                    DisWiki
                </a>
            </span>
        </div>
        <div class="portion">
            <span>
                <a href="#" class="button b-blurple">Sign in</a>
            </span>
        </div>
    </div>
</nav>

<style>
    /*
    * Prefixed by https://autoprefixer.github.io
    * PostCSS: v8.4.14,
    * Autoprefixer: v10.4.7
    * Browsers: last 4 version
    */

    nav {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 1.75rem;
        height: 5rem;
        min-height: 5rem;
        width: 100vw;
    }

    #nav-container {
        width: calc(100% - 2rem);
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #nav-container .portion {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #nav-container .portion > span {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 15px;
    }

    #nav-container .portion:first-child > span {
        margin-right: auto;
    }

    #nav-container .portion:last-child > span {
        margin-left: auto;
    }

    .searchbar {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .searchbar span:first-child {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 40px;
        max-height: 40px;
        padding: 0 2px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 3px 0 0 3px;
        background-color: var(--c-light);
    }

    .searchbar select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-indent: 1px;
        -o-text-overflow: "";
        text-overflow: "";
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: var(--c-lighter);
        padding: 0;
        margin: 0;
        border-right: 1px solid var(--c-lighter);
        padding-right: 10px;
        margin-right: 10px;
        font-size: 1rem;
    }

    .searchbar select {
        min-width: 3.75rem;
        width: auto;
    }
    .searchbar select::-ms-expand {
        display: none;
    }

    .searchbar select option {
        background-color: var(--c-darker);
        outline: 0;
        border: 0;
        padding: 2px;
    }

    .searchbar input[type="text"] {
        height: 100%;
        background-color: transparent;
        outline: 0;
        border: none;
        color: white;
        font-size: 1.15rem;
    }

    .searchbar input[type="text"]::-webkit-input-placeholder {
        color: var(--c-lighter);
        opacity: 0.7;
    }

    .searchbar input[type="text"]::-moz-placeholder {
        color: var(--c-lighter);
        opacity: 0.7;
    }

    .searchbar input[type="text"]:-ms-input-placeholder {
        color: var(--c-lighter);
        opacity: 0.7;
    }

    .searchbar input[type="text"]::-ms-input-placeholder {
        color: var(--c-lighter);
        opacity: 0.7;
    }

    .searchbar input[type="text"]::placeholder {
        color: var(--c-lighter);
        opacity: 0.7;
    }

    .searchbar .button {
        border-radius: 0 5px 5px 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 1.75rem;
        color: white;
    }

    #donate-button:hover {
        -webkit-animation: breathing 3s infinite;
        animation: breathing 3s infinite;
    }

    @-webkit-keyframes breathing {
        0% {
            -webkit-box-shadow: 0 0 0 0 var(--c-green);
            box-shadow: 0 0 0 0 var(--c-green);
        }

        25% {
            -webkit-box-shadow: 0 0 25px 2px var(--c-green);
            box-shadow: 0 0 25px 2px var(--c-green);
        }

        60% {
            -webkit-box-shadow: 0 0 15px 2px var(--c-green);
            box-shadow: 0 0 15px 2px var(--c-green);
        }

        80% {
            -webkit-box-shadow: 0 0 15px 2px var(--c-green);
            box-shadow: 0 0 15px 2px var(--c-green);
        }
    }

    @keyframes breathing {
        0% {
            -webkit-box-shadow: 0 0 0 0 var(--c-green);
            box-shadow: 0 0 0 0 var(--c-green);
        }

        25% {
            -webkit-box-shadow: 0 0 25px 2px var(--c-green);
            box-shadow: 0 0 25px 2px var(--c-green);
        }

        60% {
            -webkit-box-shadow: 0 0 15px 2px var(--c-green);
            box-shadow: 0 0 15px 2px var(--c-green);
        }

        80% {
            -webkit-box-shadow: 0 0 15px 2px var(--c-green);
            box-shadow: 0 0 15px 2px var(--c-green);
        }
    }

    @media only screen and (max-width: 1400px) {
        #donate-button {
            display: none;
        }
    }

    @media only screen and (max-width: 1100px) {
        nav #nav-container .portion:nth-child(2) {
            display: none;
        }
    }

    @media only screen and (max-width: 540px) {
        nav #nav-container .portion:last-child {
            display: none;
        }

        nav #nav-container .portion:first-child > span {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        nav #nav-container .portion:first-child > span > div {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        nav #nav-container .portion:first-child > span > div > span {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }
    }

    @media only screen and (max-width: 400px) {
        nav #nav-container .portion .searchbar {
            display: none;
        }

        nav #nav-container .portion:last-child {
            display: initial;
        }

        #nav-container {
            width: calc(100% - 2rem);
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        #nav-container .portion {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-flex: unset;
            -ms-flex: unset;
            flex: unset;
            -webkit-box-align: unset;
            -ms-flex-align: unset;
            align-items: unset;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        #nav-container .portion > span {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            gap: 15px;
        }

        #nav-container .portion:first-child > span {
            margin-right: auto;
        }

        #nav-container .portion:last-child > span {
            margin-left: auto;
        }
    }
</style>

<script>
    let searchDropdown = document.getElementById("js-search-dropdown");
    let searchDropdownChevron = document.getElementById("js-search-chevron");
    let searchInput = document.getElementById("js-search-input");

    if (
        searchDropdown != null &&
        searchDropdownChevron != null &&
        searchInput != null
    ) {
        searchDropdown.addEventListener("click", (e) => {
            searchDropdownChevron?.classList.toggle("bx-rotate-90");
            e.stopPropagation();
        });

        document.addEventListener("click", (e) => {
            if (
                e.target != searchDropdown &&
                e.target != searchDropdownChevron
            ) {
                searchDropdownChevron?.classList.remove("bx-rotate-90");
            }
        });

        searchDropdown.addEventListener("change", (e) => {
            searchInput?.setAttribute(
                "placeholder",
                //@ts-ignore
                `Search for ${e.target.value}s...`,
            );
        });
    }
</script>