---
import * as db from '../../lib/wikis';

// Find a better way to do this, this is a heavy
// task that gets ran every request. Maybe use
// caching or Astro collections.
export async function getStaticPaths() {
  // const result = await db.getAllWikiSlugs();
  const result = [12345, 54321, 6789, 9876];
  const slug = result.map((res) => ({ params: { slug: res } }));

  console.log(`Paths: ${slug}`);
  return slug;
}

const { slug } = Astro.params;
---

<p>{slug}</p>
